.title_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    h1{
        font-size: 20px;
        font-weight: 600;
    }
    .seeArrow{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.uppercase {
    .headerUppercase {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    .inforUppercase {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 20px;
    }
    .itemUppercase {
        width: 598px;
        height: 413px;
        background-color: white;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        img{
            object-fit: fill;
            border-top-left-radius: 5px ;
            border-top-right-radius: 5px;
        }
        h2{
            padding: 10px 0 0 10px;
            font-size: 20 px;
            font-weight: 600;
        }
        p{
            padding: 10px 5px 0 10px;
        }
    }
}