.container {
  position: relative;
  top: 55px;
  background: #fff;
  padding: 0.2rem 0 0 0;
  z-index: 1;
}
@media (min-width: 740px) {
  .container {
    padding: 0.25rem 0 0 0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  }
  .item:first-child {
    padding-left: 35px;
  }
}
.subnav {
  padding: 0.25em 0;
  margin-top: 0.25em;
  margin-bottom: 0.35em;
  display: flex;
  position: relative;
  scroll-snap-type: x;
  scroll-padding: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
}
.item {
  display: flex;
  margin-right: 9px;
  padding-left: 3px;
  margin-bottom: 0;
  &:first-child {
    padding-left: 14px;
  }
}
.itemLink {
  color: #d33a2c !important;
  text-shadow: none !important;
  font-weight: 700;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  border-radius: 11px;
  font-size: 1rem;
  background-color: #ffe7e7;
}
