.itemSliderCategory{
    display: flex !important;
    justify-content: center !important;
    .slick-prev:before{
        font-size: 30px !important;
    }
    .slick-next:before{
        font-size: 30px !important;
    }
}