.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--vp-z-index-sidebar);
  padding: 0 32px 96px;
  width: calc(100vw - 64px);
  max-width: var(--vp-sidebar-width-mobile);
  opacity: 0;
  background-color: var(--vt-c-bg);
  box-shadow: var(--vt-c-shadow-3);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-100%);
  transition: background-color 0.5s, opacity 0.5s, transform 0.3s ease;
}
.sidebarNav {
  padding-top: 24px;
  outline: 0;
}
.title {
  padding: 6px 0;
}
.titleText {
  line-height: 20px;
  font-size: 13px;
  font-weight: 600;
  color: var(--vt-c-text-1);
  transition: color 0.5s;
}
.link {
  display: block;
  padding: 6px 0;
  &:global(.active) .linkText {
    font-weight: 600;
    color: var(--vt-c-brand);
    transition: color 0.25s;
  }
}
.linkText {
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: var(--vt-c-text-2);
  transition: color 0.5s;
}
/*  */

@media (min-width: 960px) {
  .sidebar {
    top: calc(var(--vt-nav-height) + var(--vt-banner-height, 0px));
    z-index: 1;
    border-right: 1px solid var(--vt-c-divider-light);
    width: var(--vp-sidebar-width-small);
    max-width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    transform: translate(0);
    transition: border-color 0.5s, background-color 0.5s;
  }
  .title {
    padding: 4px 0;
  }
  .group + .group {
    padding-top: 16px;
  }
}
@media (min-width: 1440px) {
  .sidebar {
    padding: 0 32px 96px calc((100% - var(--vp-screen-max-width)) / 2);
    width: calc(
      (100% - var(--vp-screen-max-width)) / 2 + var(--vp-sidebar-width-small)
    );
  }
}
